<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
 <title>Backup and Download</title>
</head>
<body>
 <h1>Backup and Download</h1>
 <form action="/api/backup" method="POST">
 <input type="text" name="user" placeholder="Introduzca tu nombre completo" required><br><br>
 <input type="submit" value="Create Backup">
 </form>
 <div th:if="${not #lists.isEmpty(message)}">
 <div th:text="${message}"></div>
 </div>
 <div th:if="${session.error}">
 <div th:text="${session.error}"></div>
 </div>
 <a href="/api/download">Download Backup</a>
</body>
</html>